.o_kanban_view .o_kanban_record.o_kanban_attachment {
  .o_kanban_image .o_kanban_image_wrapper {
    min-height: 100px;
    background-color: #e2e0e0;
  }

  .o_kanban_details .o_kanban_details_wrapper {
    min-height: 100px;

    .o_kanban_record_title {
      font-weight: 600;
    }
  }
}

.sd_documents_dashboard {
  overflow: hidden;

  .sd_documents_dashboard_view {
    &:not(.o_list_view) {
      overflow: auto;
      padding: 8px 14px;
    }

    .o_kanban_details {
      padding-left: 72px !important;

      .o_doc_excerpt {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 95%;
      }

      .o_kanban_details_wrapper .o_kanban_record_body .o_document_url .o_field_url {
        display: contents;
      }

      .o_kanban_tags {
        & > .o_tag {
          box-shadow: none;
        }
      }
    }

    &.sd_drop_over {
      background: #7a8086 !important;
      overflow: auto;
      transition: background 0.3s;
      height: 100%;

      &:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 6px;
        bottom: 8px;
        right: 6px;
        border: 2px dashed white;
      }

      & > .o_kanban_record, & > .table-responsive {
        opacity: 0.2;
        filter: blur(1px);
      }

      & > .sd_upload_overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
      }

      & > .o_view_nocontent {
        display: none;
      }

    }

    & > .o_kanban_record {
      border-color: $sd-border-color;
      cursor: pointer;
      user-select: none;
      width: 250px;

      &.sd_record_selected {
        opacity: 1;
        border-color: $o-brand-primary;
        box-shadow: 0 0 0 1px $o-brand-primary;

        & > .sd_record_selector:before {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          color: $o-brand-primary;
          content: "\f058";
        }
      }

      &.sd_type_request:not(.o_archived_document) {
        background-color: #f6f6f6;
        border-style: dashed;
        border-color: #d2d2d2;

        .o_kanban_image {
          .o_kanban_image_wrapper:hover {
            background-color: #e9ecef;
          }
        }
      }

      &.o_archived_document {
        opacity: 0.5;

        .oe_kanban_bottom_right, .o_kanban_image {
          pointer-events: none;
        }
      }

      & > .o_kanban_image {
        width: 60px;

        &:after {
          content: "";
          border-right: 1px solid $sd-border-color;
          position: absolute;
          right: 0;
          top: 10%;
          bottom: 10%;
        }

        .o_kanban_image_wrapper {
          img.o_attachment_image {
            cursor: zoom-in;
            width: 45px;
            height: auto;
          }
        }

        .o_kanban_image_preview {
          cursor: zoom-in;
        }
      }

      & > .sd_record_selector {
        position: absolute;
        top: 4px;
        bottom: auto;
        right: 4px;
        left: auto;
        padding: 4px;
        color: $sd-border-color;
      }

    }
  }

  & > .sd_dashboard_body {
    height: 100%;
    width: 100%;
    overflow: auto;

    .sd_documents_sidebar {
      flex: 0 0 220px;
      padding: 8px 8px 32px 16px;
      position: relative;
      overflow: auto;

      .sd_documents_folder_header, .sd_documents_tags_header {
        padding: 8px 0;

        i.fa {
          color: $o-brand-primary;
        }
      }

      .sd_folders_container, .sd_tags_container {
        .list-group {
          & > li.folder_item, & > li.folder_tag_item {
            padding: 0 0 4px 0;
            position: relative;

            &.foldable {
              .list-group {
                & > li.folder_item {

                  &:before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    background-color: $sd-border-color;
                    height: 100%;
                    left: 8px;
                    top: 0;
                  }

                  &:last-child:before {
                    height: 11px;
                  }

                  &:after {
                    content: "";
                    position: absolute;
                    background-color: $sd-border-color;
                    left: 8px;
                    bottom: auto;
                    width: 8px;
                    height: 1px;
                    top: 10px
                  }
                }

                & > li.folder_item, & > li.tag_item {
                  position: relative;
                  padding: 0 0 0px 16px;
                  margin-bottom: 2px;
                  margin-top: 2px;
                }
              }
            }

            header {
              padding-left: 4px;

              &.active {
                background-color: $list-group-action-active-bg;
              }

              label {
                span.o_title {
                  display: inline-block;
                  color: $sd-font-color;
                  max-width: calc(100% - 22px);
                  vertical-align: top;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }
    }

    .dashboard-manager-wrap {
      &.is-active {

      }

      min-height: 43px;
    }

    .sd_documents_manager {
      flex: 0 0 0;
      background-color: #f4f4f4;
      overflow: auto;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-left: 1px solid #E5E5E5;

      & > .sd_documents_manager_header {
        .sd-btn-group {
          border-bottom: 1px solid #E5E5E5;

          .btn {
            background-color: #a5a5a5;
            color: #FFFFFF;
          }
        }
      }
    }

    .sd_documents {
      padding: 0.375rem 0.75rem;
    }

    .sd_btn_chatter {
      display: inline;
    }

    .sd_btn_chatter_close {
      display: none;
    }

    .sd_btn_folder, .sd_btn_tags, .sd_btn_records, .sd_btn_actions {
      & > .dropdown-menu {
        top: 30px !important;
      }
    }

    .sd_btn_tags, .sd_btn_records, .sd_btn_actions {
      .dropdown-submenu {
        #navbarDropdown {
          &:after {
            border-top: 0.3em solid transparent;
            border-right: 0;
            border-bottom: 0.3em solid transparent;
            border-left: 0.3em solid;
            position: absolute;
            //right: 20px;
            top: 8px;
            color: #4c4c4c;
          }
        }

        & > a.dropdown-toggle {
          color: #4c4c4c;
        }

        & > ul {
          position: absolute;
          will-change: transform;
          top: 0;
          left: 100%;
          right: auto;
          margin-left: 1px;
          //transform: translate3d(102%, 0px, 0px);
        }
      }
    }

    .o_list_view {
      overflow: auto;
    }

    .sd_chatter {
      order: 1;
    }
  }

  &.sd_open_manager {
    .sd_documents_manager {
      flex: 0 0 auto;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
  }

  &.sd_chatter_open {
    .sd_btn_chatter {
      display: none;
    }

    .sd_btn_chatter_close {
      display: inline;
    }

    .sd_chatter {
      width: 30%;
      min-width: 30%;
      overflow: auto;

      .o_chatter_topbar {
        flex-wrap: wrap;

        .o_topbar_right_area {
          margin: auto;
        }
      }

      .o_mail_chatter_attachments {
        padding: 0 10px;

        .o_attachments_previews {
          .o_attachment {
            min-width: 25%;
          }
        }

        .o_chatter_attachment {
          .o_chatter_attachment_form {
            .o_form_binary_form {
              .o_input_file {
                opacity: 0;
              }
            }
          }

          .o_border_dashed {
            position: relative;
            padding-bottom: 10px;

            .o_attach_title {
              position: absolute;
              z-index: 11;
              top: -11px;
              background-color: #fff;
              left: 41%;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.sd_document_body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #FFFFFF;

  header {
    background-color: #f9f9f9;
    padding: 0.5rem 1rem;

    & > div.d-flex {
      justify-content: center;
      align-items: center;

      .o_company_logo {
        img {
          display: inline-block;
          max-height: 46px;
        }
      }

      & > ul {
        & > li {
          & > a.nav-link {
            font-size: 14px;
          }
        }
      }
    }
  }

  main {
    .container {
      .row {
        .kanbaan_flex_box {
          width: 100%;

          .oe_shared_attachment, .oe_shared_folder, .oe_shared_attachment_ghost {
            position: relative;
            padding: 5px;
            flex: 1 1 300px;

            .o_card {
              border: 1px solid $sd-border-color;
              padding: 7px;

              & > .sd_kanban_image {
                flex: 0 0 25%;
                display: flex;
                height: 100%;
                min-height: 80px;
                justify-content: center;
                align-items: center;
                border-right: 1px solid $sd-border-color;
                padding-right: 6px;

                & > img {
                  width: 50px;
                  height: auto;
                }
              }

              & > .sd_kanban_body {
                flex: 1 1 auto;
                padding-left: 10px;
                font-size: 13px;
                padding-right: 16px;

                .oe_file_name {
                  display: block;
                  word-break: break-all;
                }
              }

              & > .sd_right_block {
                padding: 5px;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 13px;
              }

              & > .sd_folder_details {
                flex: 1 1 auto;
                padding-left: 10px;
                font-size: 13px;

                .sd_folder_tags {
                  & > span {
                    background-color: #7C7BAD;
                    margin-right: 3px;
                    color: #FFFFFF;
                    border-radius: 6px;
                    padding: 1px 4px;
                    font-size: 10px;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }

        .attachments_btn {
          .btn {
            min-width: 120px;
            border-radius: 0;
          }
        }
      }
    }
  }
}

/*compatibility for allure v13.0*/
body.o_web_client {
  & > .o_action_manager {
    .o_action.o_view_controller {
      .sd_documents_dashboard {
        .sd_dashboard_body {
          .sd_documents_dashboard_view.oe_allure {
            .o_kanban_record {
              .o_kanban_image {
                &:after {
                  display: none;
                }
              }

              .o_kanban_image_wrapper {
                background-color: transparent;
                width: 48px;
                height: 48px;
                min-height: auto;

                .o_attachment_image {
                  border: 0;
                  height: 100%;
                  width: 100%;
                }

                .o_image {
                  height: 38px;
                  width: 38px;
                }
              }
            }
          }
        }
      }
    }
  }
}